<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>389930101720-fr07nqh9kl4770b6tj9o1fd2nklbmgsh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389930101720-fr07nqh9kl4770b6tj9o1fd2nklbmgsh</string>
	<key>API_KEY</key>
	<string>AIzaSyB2HiPFj-cbPydUcKP70wA2a7k8FiE75iY</string>
	<key>GCM_SENDER_ID</key>
	<string>389930101720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aaus98.smartAlbumLuna</string>
	<key>PROJECT_ID</key>
	<string>smart-album-luna</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-album-luna.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:389930101720:ios:63ddf8c39b2a4109</string>
	<key>DATABASE_URL</key>
	<string>https://smart-album-luna.firebaseio.com</string>
</dict>
</plist>
